
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');  
*{
    font-family: 'Poppins', sans-serif;
}
#parent{
    width: 100vw;    
    display: flex;
    justify-content: center;
    align-items: center;
}
#layout{
    width: 1300px;
    height: 1700px;
    background-color: #1F1F1F;
    padding: 10px;
    border: 5px;
    box-sizing: border-box;
    
    
}
#header{
    width: 100%;
    height: 4%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#logo{
    padding: 5px;
    width: 100px;
    color: white;
    font-weight: 700;
    font-size: 35px;
}
#searchbox{
    width: 500px;
    height: 43px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #262626;
    color: rgba(255, 255, 255, 0.20);
    font-size: larger;
}
#login{
    border: none;
    width: 80px;
    height: 43px;
    color: #FFFFFF;
    background-color: #262626;
    border-radius: 10px;


 }
#explore{
        border: none;
        width: 95px;
        height: 43px;
        color: #FFFFFF;
        background-color: #262626;
        border-radius: 10px; 
         
}
#rent{
    border: none;
    width: 60px;
    height: 43px;
    color: #FFFFFF;
    background-color: #262626;
    border-radius: 10px;  
}
#group-2{
width: auto;
height: 350px;
margin-left: 20px;
margin-right: 20px;
border-radius: 50px;
background: #262626;
box-sizing: border-box;
color: #FFFFFF;
padding: 20px;;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
display: flex;
justify-content: space-between;
}
#group-2>h2{
    font-size: 30px;
}
#group-2>h4{
    font-size: 18px;
}
#img-1{
    width: 100%;
    display: flex;
    align-items: center;    
}
#img-1>img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
}
#img-1>img, #img-1>h4{
    padding: 5px;
}
#img-2{
    width: 100%;
    display: flex;
    align-items: center;    
}
#img-2>img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
}
#img-2>img, #img-2>h4{
    padding: 5px;
}

#img-3{
    width: 100%;
    display: flex;
    align-items: center;    
}
#img-3>img{
    width: 35px;
    height: 35px;
    border-radius: 100%;
}
#img-3>img, #img-3>h4{
    padding: 5px;
}
#img-4>img{
    width: 140px;
    height: 135px;
    border-radius: 100%; 
    margin-top: 50px;
    margin-right: 50px;
}
#knowmore{
    width: 150px;
    height: 60px;
    border-radius: 40px;
    background-color: #fecb03;
    border: none;
    color: #262626;
    margin-right: 80px; 
    font-weight: 600;
    font-size: 15px;
    margin-top: -200px;   
}
#categories{
    color: #FFFFFF;
    margin-left: 50px;
    font-size: 40px;
    font-weight: 600;
}
.row-1{
    display: flex;
    justify-content: space-evenly;   

}
#box-1{
    width: 300px;
    height: 350px;
    color: rgba(255, 255, 255, 0.80);
    font-size: 15px;
    font-weight: 400px;
    border-radius: 20px;
    background: #1F1F1F;
    border: 3px #262626 solid;
    padding: 20px;
    box-sizing: border-box;
    text-align: justify;    

}
#box-1>h3{
    margin-top: 10px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
}
#box-2{
    width: 300px;
    height: 350px;
    color: rgba(255, 255, 255, 0.80);
    font-size: 15px;
    font-weight: 400px;
    border-radius: 20px;
    background: #1F1F1F;
    border: 3px #262626 solid;
    padding: 20px;
    box-sizing: border-box;
    text-align: justify;
    

}
#box-2>h3{
    margin-top: 10px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
}
#box-3{
    width: 300px;
    height: 350px;
    color: rgba(255, 255, 255, 0.80);
    font-size: 15px;
    font-weight: 400px;
    border-radius: 20px;
    background: #1F1F1F;
    border: 3px #262626 solid;
    padding: 20px;
    box-sizing: border-box;
    text-align: justify;     

}
#box-3>h3{
    margin-top: 10px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
}
.km{
    width: 120px;
    height: 45px;
    border-radius: 40px;
    background-color: #fecb03;
    border: none;
    color: #262626; 
    bottom: 10px;
    right: 0px;     
    margin-left: 143px;
    margin-top: 4px; 
    font-weight: 600;   
}
.row-2{
    display: flex;
    justify-content: space-evenly; 
    flex-direction: row-reverse;     
}
#footer{
    width: 1230px;
    height: 200px;
    background-color: #262626;
    border-radius: 28px;
    border: 30px;
    box-sizing: border-box;
    padding: 20px;
    margin-right: 0px;
    margin-left: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
           
}
#tab-1{
    color: rgba(255, 255, 255, 0.80);;
    text-align: justify;
    width: 350px;
    line-height: 18px;
    margin-right: 150px;
    font-size: 15px;
     
    
}
#tab-1>h4{
    color: #FFFFFF;
}
#tab-2{
    color: rgba(255, 255, 255, 0.80);;
    text-align: justify;
    line-height: 10px;
    margin-right: 200px;
    font-size: 15px;
    
}
#tab-2>h4{
    color: #FFFFFF;
}
#tab-3{
    color: rgba(255, 255, 255, 0.80);;
    text-align: justify;
    line-height: 10px;
    margin-right: 180px;
    font-size: 15px;
    
    
}
#tab-3>h4{
    color: #FFFFFF;
}

